<div id="page-sidebar">
  <div class="scroll-sidebar">
    <ul id="sidebar-menu">
      <li class="header"><span>管理メニュー</span></li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-book"></span>
          <span>記事</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/admin/articles"><span>一覧</span></a></li>
            <li><a href="/admin/articles/new"><span>新規作成</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-yen"></span>
          <span>コンバージョン</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/admin/conversions"><span>一覧</span></a></li>
            <li><a href="/admin/conversions/new"><span>新規作成</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-folder-open"></span>
          <span>カテゴリー</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/admin/categories"><span>一覧</span></a></li>
            <!--<li><a href="/admin/categories/new"><span>新規作成</span></a></li>-->
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-tags"></span>
          <span>タグ</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/admin/tags"><span>一覧</span></a></li>
            <li><a href="/admin/tags/new"><span>新規作成</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-pushpin"></span>
          <span>病院</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/admin/facilities"><span>一覧</span></a></li>
            <li><a href="/admin/facilities/new"><span>新規作成</span></a></li>
          </ul>
        </div>
      </li>
      <li class="divider"></li>
      <li class="header"><span>その他</span></li>
      <li>
        <a href="/" target="_blank">
          <span class="glyphicon glyphicon-log-in"></span>
          <span>本サイトへ</span>
        </a>
      </li>
    </ul>
  </div>
</div>
