<div id="page-sidebar">
  <div class="scroll-sidebar">
    <ul id="sidebar-menu">
      <li class="header"><span>Management Menu</span></li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-book"></span>
          <span>Article</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/content_manager/articles"><span>List</span></a></li>
            <li><a href="/content_manager/articles/new"><span>New Article</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-folder-open"></span>
          <span>Categories</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/content_manager/categories"><span>List</span></a></li>
            <!--<li><a href="/admin/categories/new"><span>新規作成</span></a></li>-->
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-tags"></span>
          <span>Tags</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li><a href="/content_manager/tags"><span>List</span></span></a></li>
            <li><a href="/content_manager/tags/new"><span>New Tag</span></a></li>
          </ul>
        </div>
      </li>
      <li class="divider"></li>
      <li class="header"><span>その他</span></li>
      <li>
        <a href="/" target="_blank">
          <span class="glyphicon glyphicon-log-in"></span>
          <span>To this site</span>
        </a>
      </li>
    </ul>
  </div>
</div>
