<div class="container">
  <div id="page-title">
    <h2>List of Articles</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <table class="table">
            <thead>
            <tr>
              <th>ID</th>
              <th class="title">Title</th>
              <th class="published_at">Published at</th>
              <th class="updated_at">Updated at</th>
              <th class="edit">Edit</th>
              <th class="delete">Delete</th>
              <th class="status">Status</th>
              <th class="publish">Publish</th>
              <th class="unpublish">Unpublish</th>
            </tr>
            </thead>
            <tbody>
              <% @articles.each do |article| %>
                <tr id="article_<%= article.id %>">
                  <%= render partial: 'each_article', locals: {article: article} %> 
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
